.Input {
    &__container {
        display: flex;
        flex-direction: column;
        justify-items: start;
        align-items: start;
    }
    &__label {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__input {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
}