.Input {
  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  &__input {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    width: inherit;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
