.Event {
    &__container {
        display: flex;
        flex-direction: column;
        justify-items: start;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #5A5C33;
    }

    &__description {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

Link {
    color: #F378A0;
}