.Event {
  &__container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1rem;
    margin-top: -1rem;
    max-width: 35%;
    padding-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__loading {
    align-items: center;
    /* stylelint-disable */
    animation: spin 1s linear infinite;
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    /* stylelint-enable */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
