.layout {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  &__header {
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  &__footer {
    padding: 1rem;
    border-top: 1px solid #333;
  }
}