.LoginFooter {
  align-items: center;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  min-width: 35%;
  padding: 0;

  &__link {
    color: #5a5c33;
    margin: 0 rem;
    padding: 0.5rem;
  }

  &__button {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}
